.TestItem {
    width: auto;
    height: 16px;
    margin-top: 1px;
    -unity-text-align: middle-left;
    flex-direction : row;
    flex: 1;
}

.Result {
    -unity-text-align: middle-center;
    background-color: #8f8f8f;
    width: 55px;
    height: 16px;
    margin-right: 5px;
}

.Method {
    color: #FFFFFF;
}